body, html {
	height: 100%;
}

body {
	background-image: url("../img/park_background.jpg"); 
	background-size: auto 100%;
	position: initial;
}

/*
#search-box input {
	margin-top: 5px;
	margin-bottom: 10px;
	border: 3px solid lightgreen;
	border-radius: 5px;
}
*/

.event-item {
	border: 3px solid gray;
	border-radius: 3px;
	margin-bottom: 5px;
	padding: 5px;
	background-color: #00A387;
}

.container {
	padding: 0;
}

.circle {
	width:20px;
	height:20px;
	border-radius:50%;
	color:#fff;
	text-align:center;
	background:#000;
	font-size: 0.8em;
	padding-left: 7px;
	padding-right: 7px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.event-item p {
	margin-bottom: 3px;
}

.space-vertically {
	margin-top: 15%;
}

.bolded {
	font-weight: bold;
}

#search-submit {
	display: none;
}

form {
	margin-top: 25px;
}

.bar {
	display: block;
}

.activity-description {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.num-participants {
	font-style: italic;
	color: #BBBBBB;
	font-size: 0.8em;
	padding-left: 7px;
}

#loading-icon {
	display: none;
	position: absolute;
	top: 50%;
	left: 40%;
}

.search-result {
	cursor: pointer;
}

#buttons {
	position: absolute;
	width: 100%;
}

#buttons button {
	margin-bottom: 10px;
}

.advanced-disclosure {
	position: absolute;
	top: 37px;
	right: 10px;
	cursor: pointer;
}

#search-advanced {
	margin-bottom: 15px;
	color: #FFF;
}

#search-advanced input {
	margin-right: 5px;
	color: #000;
}

#advanced-checkboxes label {
	margin-left: 45px;
	padding-left: 10px;
	font-weight: normal;
	font-size: 1em;
	color: #FFF;
}

#suggested-searches {
	margin-top: 200px;
	margin-left: 50px;
}

#suggested-searches p {
	font-size: 30px;
	color: #99ccff;
}

#suggested-searches li {
	font-size: 25px;
	color: #FFF;
	line-height: 30px;
	list-style-type: none;
}