body, html {
	height: 100%;
}

body {
	background-image: url("../img/park_background.jpg"); 
	background-size: auto 100%;
	position: initial;
}

/*
#search-box input {
	margin-top: 5px;
	margin-bottom: 10px;
	border: 3px solid lightgreen;
	border-radius: 5px;
}
*/

.event-item {
	border: 3px solid gray;
	border-radius: 3px;
	margin-bottom: 5px;
	padding: 5px;
	background-color: #00A387;
}

.container {
	padding: 0;
}

.circle {
	width:20px;
	height:20px;
	border-radius:50%;
	color:#fff;
	text-align:center;
	background:#000;
	font-size: 0.8em;
	padding-left: 7px;
	padding-right: 7px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.event-item p {
	margin-bottom: 3px;
}

.space-vertically {
	margin-top: 15%;
}

.bolded {
	font-weight: bold;
}

#search-submit {
	display: none;
}

form {
	margin-top: 10px;
}

.bar {
	display: block;
}

.activity-description {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.num-participants {
	font-style: italic;
	color: #BBBBBB;
	font-size: 0.8em;
	padding-left: 7px;
}

#loading-icon {
	display: none;
	position: absolute;
	top: 50%;
	left: 40%;

}